@tailwind base;
@tailwind components;
@tailwind utilities;

/* USEFUL CSS CLASSES */

/* Backgrounds */
.bg-ay-purple {
  background-color: theme('colors.ayPurple');
}

.bg-ay-dark {
  background-color: theme('colors.ayDark');
}

.bg-ay-lavender {
  background-color: theme('colors.ayLavender');
  color: black;
}

.bg-ay-green {
  background-color: theme('colors.ayGreen');
}

.bg-ay-teal {
  background-color: theme('colors.ayTeal');
}

/* Common DOM elements */
.base-container {
  @apply rounded-lg shadow-md p-4;
}

.header-container {
  @apply bg-ay-dark p-4 w-screen flex justify-between fixed top-0 left-0 z-50;
}

.dashboard-container {
  @apply base-container bg-ay-lavender w-full max-w-screen-xl mx-auto;
}

.error-container {
  @apply base-container bg-red-500 text-white font-bold;
  @apply fixed top-4 left-1/2 transform -translate-x-1/2 transition-opacity duration-500 ease-in-out;
  opacity: 1;
}

/* General Image Styling */
.image-container {
  @apply object-contain w-auto h-auto;
}

/* Image Sizes */
.image-sm {
  @apply w-10 h-10;
}

.image-md {
  @apply w-16 h-16;
}

.image-lg {
  @apply w-20 h-20;
}

/* Icon Styling */
.icon-button {
  @apply object-contain w-full h-full;
}

.icon-sm {
  @apply w-6 h-6;
}

.icon-md {
  @apply w-8 h-8;
}

.icon-lg {
  @apply w-10 h-10;
}

/* Buttons */
.round-button {
  @apply w-12 h-12 flex items-center justify-center rounded-full shadow-md transition duration-200 ease-in-out p-1;
}

/* DEFAULT CSS */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
